{% extends "base.html" %}

{% block main %}
  <h1>Lista de tareas</h1>
  <ul>
    {% for task in tasks %}
      <li>
        {{ task.title }} ({{ task.content }})
        <ul>
          <li><a href="{% url 'tasks:edit_task' task.pk %}">Editar tarea</a></li>
          <li><a href="{% url 'tasks:delete_task' task.pk %}">Eliminar tarea</a></li>
          <li><a href="{% url 'tasks:task_detail' task.pk %}">Ver detalles de la tarea</a></li>
        </ul>
      </li>
    {% endfor %}
  </ul>
  <p><a href="{% url 'tasks:create_task' %}">Crear nueva tarea</a></p>
{% endblock %}